{% extends 'base.html' %}
{% load static %}

{%block content%}
<form method='post' role="form">
  {% csrf_token %}
    <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Option ticket_id: {{option.ticket_id}}</h5>
          <p class="card-text">Option user_id: <b>{{option.user_id}}</b></p>
        </div>
      </div>
    {{form.lunch}}
    {{form.luggage}}
        <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
    <p class="control">
      <br>
      <button type="submit" class="btn btn-success">
        Save changes
      </button>
      </p>
  </form>
<br>

{%endblock%}