{% extends 'base.html' %}
{% load static %}

{%block content%}
<form method='post' role="form">
  {% csrf_token %}
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Flight direction: {{order.ticket.flight_id.destinations}}</h5>
            <h5 class="card-title">Passenger: {{order.user.first_name}}</h5>
            {{form.status}}
        </div>
      </div>
        <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
    <p class="control">
      <br>
      <button type="submit" class="btn btn-success">
        Save changes
      </button>
      </p>
  </form>
<br>

{%endblock%}